{% extends 'base.html' %}
{% load extended %}
{% load forms %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="card my-2">
    <div class="card-body border-card">
        <div class="card-title mb-3">{{form}}</div>
        Код опросника: /quiz{{form.unique_code}}
    </div>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Всего отвечено</th>
      <th>Бал</th>
      <th>Дата и время</th>
    </tr>
  </thead>
  <tbody>
  {% for answer in answers %}
    <tr>
      <td>{{answer.contact}}</td>
      <td>{{answer.data|length}}</td>
      <td>{{answer.score}}</td>
      <td>{{answer.created_at}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% for question in questions %}
<div><b>{{question.text}}</b></div>
<ul>
   {% for ans in question.answers.all %}
  <li>{{ans.text}}: {{percentage|dict_key:ans.id}}%</li>
  {%endfor%}
</ul>
{% if form.mode != 'quiz'%}
<small><b>additional</b>:</small>
{% for x in answers %}:
 {% if question.id in x.data|int_json_key and x.data|int_json_key|dict_key:question.id not in question.answers.all|answer_texts %}
    {{x.data|int_json_key|dict_key:question.id}}
 {%endif%}
{% endfor %}
{%endif%}
{% endfor %}
{% endblock %}