{% extends 'base.html' %}
{% load extended %}
{% load forms %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<div class="card my-2">
    <div class="card-body border-card">
        <div class="card-title">{{form}}</div>
        <a href="{{form.link}}">Ссылка на форму</a>
        <br>
        {{qr|safe}}
        <br>
        Всего ответов: {{form.contactformanswers_set.count}}
    </div>
</div>

{% for question in questions %}
<div><b>{{question.text}}</b></div>
<ul>
   {% for ans in question.answers.all %}
  <li>{{ans.text}}: {{percentage|dict_key:ans.id}}%</li>
  {%endfor%}
</ul>
{% endfor %}
{% endblock %}