{% extends "admin/base_site.html" %}

{% block content %}
{{test}}
<h1>Отправить сообщение</h1>
<table>
    <tbody>
    <tr>
        <td style="border: none; padding: 0;">
            <form action="{% url form_url %}" method="POST">
                <div>
                    {% csrf_token %}
                    <input type="hidden" name="referer" value="{{ referer }}" />
                    <input type="hidden" name="submission_type" value="{{ submission_type }}" />
                    <input type="hidden" name="promo_id" value="{{ promo_id }}" />

                    {{ form.as_p }}
                    <input type="submit" value="Отправить" />
                </div>
            </form>
        </td>

        <td style="border: none; padding: 0 0 0 1em;" >
            <ul>
                <strong>Вы собираетесь отправить сообщение следующим людям:</strong>
                {{ entities|unordered_list }}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
