{% extends "admin/base_site.html" %}

{% block content %}
<h1>Отправить сообщение</h1>
<table>
    <tbody>
    <tr>
        <td style="padding: 0;">
            <form action="{% url 'broadcast:send' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <input type="hidden" name="referer" value="{{ referer }}" />
                  {% for hidden_field in form.hidden_fields %}
                    {% if hidden_field.errors %}
                      <ul>
                        {% for error in hidden_field.errors %}
                          <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {{ hidden_field }}
                  {% endfor %}
                <table style="margin-bottom: 15px;">
                {% for field in form.visible_fields %}
                      <tr>
                        <th>{{ field.label_tag }}</th>
                        <td>
                          {{ field.errors }}
                          {{ field }}
                          <div style="font-size: 12px;">{{ field.help_text }}</div>
                        </td>
                      </tr>
                {% endfor %}
                </table>
                <input type="submit" value="Отправить" />
            </form>
        </td>

        <td style="border: none; padding: 0 0 0 1em;" >
            <ul>
                <strong>Вы собираетесь отправить сообщение следующим людям:</strong>
                {{ entities|unordered_list }}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
