{% extends "admin/base_site.html" %}

{% block content %}

<h1>Отправить сообщение</h1>

<table>
    <tbody>
    <tr>
        <td style="border: none; padding: 0;">
            <form action="{% url form_url %}" method="POST">
                <div>
                    {% csrf_token %}
                    <input type="hidden" name="referer" value="{{ referer }}" />
                    {{ form.as_p }}
                    <input type="submit" name="apply" value="Отправить" />
                </div>

            </form>
        </td>

        <td style="border: none; padding: 0 0 0 1em;" >
            <ul>
                <strong>Вы собираетесь отправить сообщение следующим людям:</strong>
                {{ entities|unordered_list }}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
