{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Зарегистрироваться {% endblock %}

{% block content %}

<div class="card my-2">
    <div class="card-body border-card">
        <div class="card-title mb-3">Регистрация на курсы Megaskill</div>
        Курсы Game Development
    </div>
</div>

<form action="" method="post" class="form">
    {% csrf_token %}
    {% for input in form %}
    <div class="card my-2">
        <div class="card-body">
            {% bootstrap_field input placeholder=False form_group_class='form-group mb-0'%}
        </div>
    </div>
    {% endfor %}
    {% buttons %}
    <button type="submit" class="btn btn-primary my-2"> Зарегистрироваться </button>
    {% endbuttons %}
</form>

{% endblock %}