{% extends 'admin/change_form.html' %}
{% load helpers %}

{% block submit_buttons_bottom %}
    {{ block.super }}
<!--    <div class="submit-row">-->
<!--            <input type="submit" value="Start course" name="_start_course">-->
<!--    </div>-->
<table>
    <thead>
        <tr>
            <th>Lesson Name</th>
            <th>Students Viewed Vid</th>
            <th>Count students viewed</th>
            <th>Students submitted hw</th>
            <th>Count students submitted hw</th>
        </tr>
    </thead>
    <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{lesson.title}}</td>
                <td>{% for record in lesson.studentlesson_set.all %}
                    <a href="{% url 'admin:dashboard_client_change' record.student.id %}">{{record.student.first_name|slice:":1"}}.{{record.student.last_name}}</a>
                    {% endfor %}
                </td>
                <td>{{lesson.studentlesson_set.all.count}}</td>
                <td>{% for record in lesson.studentlesson_set.all %}
                        {% if record.homework_sent %}
                        <a href="{% url 'admin:dashboard_client_change' record.student.id %}">{{record.student.first_name|slice:":1"}}.{{record.student.last_name}}</a>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ lesson|homework_count}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

