{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    <h3 class="clear-space">Students total: {{studentcourse.count}}</h3>
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <div id="content" style="padding-top: 0;">
    <table style="margin-bottom: 2em;">
        <caption style="text-align:left; margin-bottom:1em;"><strong>Progress table</strong></caption>
        <thead>
            <tr>
                <th>Lesson Name</th>
                <th>LESSON RECEIVED</th>
                <th>VIDEO VIEWED</th>
                <th>HW SUBMITTED</th>

                <th>LESSON RECEIVED</th>
                <th>VIDEO VIEWED</th>
                <th>HW SUBMITTED</th>

                <th>Date sent</th>
                <th>Send lessons</th>
            </tr>
        </thead>
        <tbody>
            {% for data in lessons_stat %}
                <tr>
                    <td nowrap>{{data.lesson.title}}</td>
                    <td>{{data.received|length}}</td>
                    <td>{{data.viewed|length}}</td>
                    <td> {% if data.lesson.has_homework %}{{ data.hw|length}} {% else %} - {% endif %}</td>
                    <td>
                        <form action="{% url 'dashboard:send_message' %}" method="post" class="receivedVid">
                            {% csrf_token %}
                            {% for student in data.received %}
                                {% if student not in data.viewed %}
                                    <input type="hidden" name="_selected_action " value="{{student.id}}">
                                    {% if student.is_client %}
                                    <a href="{% url 'admin:dashboard_client_change' student.id %}" style="font-size:11px;">
                                        {{student.short_name}}{% if not forloop.last%},{% endif %}
                                    </a>
                                    {% else %}
                                    <a href="{% url 'admin:dashboard_lead_change' student.id %}" style="font-size:11px;">
                                        {{student.short_name}}{% if not forloop.last%},{% endif %}
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {%  if data.received %}
                            <button type="submit" style="font-size:13px; background-color: transparent;
                                                         border-color: transparent;">💬</button>
                            {% endif %}
                        </form>
                    </td>

                    <td>
                        <form action="{% url 'dashboard:send_message' %}" method="post" class="viewedVid">
                            {% csrf_token %}
                            {% for student in data.viewed %}
                                {% if student not in data.hw %}
                                <input type="hidden" name="_selected_action" value="{{student.id}}">
                                {% if student.is_client %}
                                    <a href="{% url 'admin:dashboard_client_change' student.id %}" style="font-size:11px;">
                                        {{student.short_name}}{% if not forloop.last%},{% endif %}
                                    </a>
                                    {% else %}
                                    <a href="{% url 'admin:dashboard_lead_change' student.id %}" style="font-size:11px;">
                                        {{student.short_name}}{% if not forloop.last%},{% endif %}
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if data.viewed %}
                                <button type="submit" style="font-size:13px; background-color: transparent;
                                                         border-color: transparent;">💬</button>
                            {% endif %}
                        </form>
                    </td>

                    <td>
                        {% if data.lesson.has_homework %}
                        <form action="{% url 'dashboard:send_message' %}" method="post" class="hwSubmitted">
                            {% csrf_token %}
                            {% for student in data.hw %}
                                <input type="hidden" name="_selected_action" value="{{student.id}}">
                                {% if student.is_client %}
                                    <a href="{% url 'admin:dashboard_client_change' student.id %}" style="font-size:11px;">
                                        {{student.short_name}}{% if not forloop.last%},{% endif %}
                                    </a>
                                    {% else %}
                                    <a href="{% url 'admin:dashboard_lead_change' student.id %}" style="font-size:11px;">
                                        {{student.short_name}}{% if not forloop.last%},{% endif %}
                                    </a>
                                    {% endif %}
                            {% endfor %}
                            {% if lesson.hw %}
                                <button type="submit" style="font-size:13px; background-color: transparent;
                                                         border-color: transparent;">💬</button>
                            {% endif %}
                        </form>
                        {% else %}
                        -
                        {% endif %}
                    </td>


                     <td>
                         {% if lesson.date_sent  %}
                            {{ lesson.date_sent }}
                         {% else %}
                            Не выслан
                         {% endif %}
                    </td>

                    <td><a href="{% url 'dashboard:send_lesson' object_id data.lesson.id %}" {% if data.lesson.date_sent %} class="btn-disabled" disabled="disabled" {% endif %}>📨</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}