{% extends 'admin/change_form.html' %}
{% load helpers %}


{% block submit_buttons_bottom %}
    {{ block.super }}
<!--        <div class="submit-row">-->
<!--                <input type="submit" value="Start course" name="_start_course">-->
<!--        </div>-->
{% endblock %}


{% block footer %}
    {{ block.super }}
    <div id="content" style="padding-top: 0;">
    <table style="margin-bottom: 2em;">
        <caption style="text-align:left; margin-bottom:1em;"><strong>Progress table</strong></caption>
        <thead>
            <tr>
                <th>Lesson Name</th>
                <th>LESSON RECEIVED</th>
                <th>VIDEO VIEWED</th>
                <th>HW SUBMITTED</th>

                <th>LESSON RECEIVED</th>
                <th>VIDEO VIEWED</th>
                <th>HW SUBMITTED</th>

                <th>Date sent</th>
                <th>Send lessons</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td nowrap>{{lesson.title}}</td>
                    <td>{{lesson|students_received|length}}</td>
                    <td>{{lesson|students_watched|length}}</td>
                    <td> {% if lesson.has_homework %}{{ lesson|students_hw_submitted|length}} {% else %} - {% endif %}</td>
                    <td>
                        <form action="{% url 'dashboard:send_message' %}" method="post" class="receivedVid">
                            {% csrf_token %}
                            {% for student in lesson|students_received %}
                                {% if student not in lesson|students_watched %}
                                    <input type="hidden" name="_student_received" value="{{student.id}}">
                                    {% if student.is_client %}
                                    <a href="{% url 'admin:dashboard_client_change' student.id %}" style="font-size:11px;">
                                        {{student.first_name|slice:":1"}}.{{student.last_name}},
                                    </a>
                                    {% else %}
                                    <a href="{% url 'admin:dashboard_lead_change' student.id %}" style="font-size:11px;">
                                        {{student.first_name|slice:":1"}}.{{student.last_name}},
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {%  if lesson|students_received %}
                            <button type="submit" style="font-size:13px; background-color: transparent;
                                                         border-color: transparent;">📨</button>
                            {% endif %}
                        </form>
                    </td>

                    <td>
                        <form action="{% url 'dashboard:send_message' %}" method="post" class="viewedVid">
                            {% csrf_token %}
                            {% for student in lesson|students_watched %}
                                {% if student not in lesson|students_hw_submitted %}
                                <input type="hidden" name="_student_received" value="{{student.id}}">
                                {% if student.is_client %}
                                    <a href="{% url 'admin:dashboard_client_change' student.id %}" style="font-size:11px;">
                                        {{student.first_name|slice:":1"}}.{{student.last_name}},
                                    </a>
                                    {% else %}
                                    <a href="{% url 'admin:dashboard_lead_change' student.id %}" style="font-size:11px;">
                                        {{student.first_name|slice:":1"}}.{{student.last_name}},
                                    </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if lesson|students_watched %}
                                <button type="submit" style="font-size:13px; background-color: transparent;
                                                         border-color: transparent;">📨</button>
                            {% endif %}
                        </form>
                    </td>

                    <td>
                        {% if lesson.has_homework %}
                        <form action="{% url 'dashboard:send_message' %}" method="post" class="hwSubmitted">
                            {% csrf_token %}
                            {% for student in lesson|students_hw_submitted %}
                                <input type="hidden" name="_student_received" value="{{student.id}}">
                                {% if student.is_client %}
                                    <a href="{% url 'admin:dashboard_client_change' student.id %}" style="font-size:11px;">
                                        {{student.first_name|slice:":1"}}.{{student.last_name}},
                                    </a>
                                    {% else %}
                                    <a href="{% url 'admin:dashboard_lead_change' student.id %}" style="font-size:11px;">
                                        {{student.first_name|slice:":1"}}.{{student.last_name}},
                                    </a>
                                    {% endif %}
                            {% endfor %}
                            {% if lesson|students_hw_submitted %}
                                <button type="submit" style="font-size:13px; background-color: transparent;
                                                         border-color: transparent;">📨</button>
                            {% endif %}
                        </form>
                        {% else %}
                        -
                        {% endif %}
                    </td>


                     <td>
                         {% if lesson.date_sent  %}
                            {{ lesson.date_sent }}
                         {% else %}
                            Не выслан
                         {% endif %}
                    </td>

                    <td><a href="{% url 'dashboard:send_lesson' object_id lesson.id %}" {% if lesson.date_sent %} class="btn-disabled" disabled="disabled" {% endif %}>📨</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}