{% load i18n admin_urls static admin_modify %}

<div class="js-inline-admin-formset inline-group" id="studentcourse_set-group"
     data-inline-type="tabular"
     data-inline-formset="{&quot;name&quot;: &quot;#studentcourse_set&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;studentcourse_set&quot;, &quot;addText&quot;: &quot;\u0414\u043e\u0431\u0430\u0432\u0438\u0442\u044c \u0435\u0449\u0435 \u043e\u0434\u0438\u043d Student course&quot;, &quot;deleteText&quot;: &quot;\u0423\u0434\u0430\u043b\u0438\u0442\u044c&quot;}}">
    <div class="tabular inline-related ">
        {{ inline_admin_formset.formset.management_form }}
         <fieldset class="module {{ inline_admin_formset.classes }}">
               {% if inline_admin_formset.formset.max_num == 1 %}
                 <h2>{{ inline_admin_formset.opts.verbose_name|capfirst }}</h2>
               {% else %}
                 <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
               {% endif %}
               {{ inline_admin_formset.formset.non_form_errors }}
            <table>
                 <thead><tr>
                 {% for field in inline_admin_formset.fields %}
                   {% if not field.widget.is_hidden %}
                     <th class="column-{{ field.name }}{% if field.required %} required{% endif %}">{{ field.label|capfirst }}
                     {% if field.help_text %}<img src="{% static "admin/img/icon-unknown.svg" %}" class="help help-tooltip" width="10" height="10" alt="({{ field.help_text|striptags }})" title="{{ field.help_text|striptags }}">{% endif %}
                     </th>
                   {% endif %}
                 {% endfor %}
                 {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}<th>{% translate "Delete?" %}</th>{% endif %}
                <th>Date added</th>
                <th>message</th>
                 </tr></thead>
     <tbody>
     {% for inline_admin_form in inline_admin_formset %}
        {% if inline_admin_form.form.non_field_errors %}
        <tr class="row-form-errors"><td colspan="{{ inline_admin_form|cell_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
        {% endif %}

        <tr class="form-row {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last and inline_admin_formset.has_add_permission %} empty-form{% endif %}"
             id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            {% for data in studentcourse %}
              <td>
                  {{data.student.first_name|slice:":1"}}.{{data.student.last_name}}
              </td>
            <td>{{data.created_at}}</td>
            <td>
                <form action=""></form>
                <form action="{% url 'dashboard:send_message' %}" method="post">
                        {% csrf_token %}
                    <input type="hidden" name="_student_received" value="{{data.student.id}}">
                    <button type="submit">📨</button>
                </form>
            </td>
            {% endfor %}
        {% if inline_admin_formset.formset.can_delete and inline_admin_formset.has_delete_permission %}
          <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
        {% endif %}
        </tr>
     {% endfor %}
     </tbody>
      <tfoot>
      <tr>
          <td> Total Count: {{studentcourse.count}} </td>
      </tr>
      </tfoot>
            </table>
        </fieldset>
    </div>
</div>