{% extends 'admin/base_site.html' %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <p>
        Are you sure you want to execute this action on the selected items?
    </p>
    {% for entity in entities %}
        <input type="hidden" name="_selected_action" value="{{ entity.pk }}" />
    {% endfor %}
    <label class="required" for="id_course">Course:</label>

    <select name="course" required id="id_course" multiple>
        {% for course in courses %}
            <option value={{course.id}}>{{course.name}}</option>
        {% endfor %}
    </select>

    <input type="hidden" name="action" value="assign_to_course" />
    <input type="submit" name="assign" value="Assign Course"/>
</form>
{% endblock %}