{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="MODME team">
    <title>{% block title %} Supersonic {% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    {% block extra_links %}{% endblock %}
    <link href="/static/dashboard/css/app.css?v=1" rel="stylesheet">
</head>
<body>
{% block content %} {% endblock %}

{% block extra_scripts %} {% endblock %}
<script src="/static/dashboard/js/app.js?v=1"></script>
</body>
</html>