{% extends "admin/base_site.html" %}

{% block content %}

<form action="" method="POST">
    <p>Are you sure you want to execute this action ?</p>

    {% csrf_token %}
{% for entity in entities %}
    <input type="hidden" name="_selected_action" value="{{ entity.pk }}" />
{% endfor %}
    <textarea name="message" id="" cols="30" rows="10"></textarea>
    <input type="hidden" name="action" value="send_message" />
    <input type="submit" name="send" value="Send message"/>
</form>
{% endblock %}