{% extends 'dashboard/base.html' %}
{% block title %}{{lesson.title}}{% endblock %}
{% block extra_links %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@clappr/player@latest/dist/clappr.min.js"></script>
{% endblock %}

{% block content %}

{{lesson.info}}
<div id="player"></div>

{% endblock %}

{% block extra_scripts %}
 <script>
    var player = new Clappr.Player(
        {
            source: '{{request.scheme}}://{{request.META.HTTP_HOST}}{{lesson.video.url}}', parentId: "#player"
        }
    );
  </script>
{% endblock %}