{% if hashtag is not none %}
Course hashtag: {{ hashtag }}
{% endif %}
Lesson title: {{ lesson.title }}

{% if student.is_client %}
Вам пришла домашняя работа от <a href="{{config.DOMAIN}}/admin/dashboard/client/{{ student.id }}/change/">{{ student.first_name }} {{ student.last_name }}</a>
{% else %}
Вам пришла домашняя работа от <a href="{{config.DOMAIN}}/admin/dashboard/lead/{{ student.id }}/change/">{{ student.first_name }} {{ student.last_name }}</a>
{% endif %}
{% if error %}
<strong>{{ error }}</strong>
{% endif %}